header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62,5%;
}
body {
    font-size: 16px; /* 1rem = 10px */
    font-family: 'Krub', sans-serif;
}
:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
}
.centerImg {
   

}