html {
    font-size: 62,5%;
}
body {
    font-size: 16px; /* 1rem = 10px */
    font-family: 'Krub', sans-serif;
}
:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
}
.nav-bg1 {
    /*background-image: url(src/icononav1.jfif);
    background-repeat:;*/
    background-color: var(--negro);
    display: flex;
    padding: 0px; 
}
.navegacion-principal {
    display: flex;
    flex-direction: column;  
    
}
.navegacion-principal a {
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem
}
.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}
.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    
}
/* media querie nav */

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-evenly;
        
    }
}
/* nav a */
@media (max-width: 480px) {
    .navegacion-principal a{
        font-size: 1rem;
        padding: 0.5rem;
    }
}

